<a href="https://colab.research.google.com/github/zafe312/car_recommender/blob/main/car_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

AI classifier to recommend cars based on user input


1.   Create dataset
2.   Test out different classifiers

In [26]:
import pandas as pd
import numpy as np
import random

In [58]:
# Features of each datapoint
columns = ['id', 'Listed Name', 'Condition', 'Make', 'Model', 'Body', 'Mileage', 'Month', 'Year', 'Price', 'Length', 'Width', 'Height', 'Ground clearance', 'Seats', 
           'Global NCAP', 'Fuel type', 'Engine', 'Displacement', 'Cylinder', 'Transmission', 'Drive', 'Exterior Color', 'Interior Color', 'Unladen weight', 
           'Gross vehicle weight', 'Location', 'Latitude', 'Longitude']

In [25]:
id = [1000 + i for i in range(1,500)]
Condition = ['New', 'Used', 'Certified']
Make = ['Hyundai', 'Tata', 'Mahindra', 'Nissan', 'Toyota', 'Kia', 'Ford', 'Chevrolet', 'Honda', 'Maruti Suzuki', 'Renault']
Model = ['A','B','C']
Body = ['Hatchback', 'SUV', 'CUV', 'MUV', 'Sedan', 'Minivan', 'Convertible', 'Coupe', 'Off-road']
Month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
Year = [2005 + i for i in range(18)]
price_min = 300000
price_max = 2200000
Seats = [5,6,7,8,10]
Ncap = [0,1,2,3,4,5]
Fuel = ['Petrol', 'Diesel', 'Electric', 'Hybrid']
Cylinder = [3,4,5]
Transmission = ['Automatic', 'Semi-automatic', 'Manual']
Drive = ['FWD', 'BWD', '4WD']
Ext_color = ['White', 'Red', 'Black', 'Brown', 'Silver', 'Green', 'Biege']
Int_color = ['Grey', 'Silver', 'Brown', 'Red']

In [56]:
# Create DataFrame
df = pd.DataFrame(columns=columns)

# Generate data 
for i in id:
  condition = random.choice(Condition)
  make = random.choice(Make)
  model = random.choice(Model)
  year = random.choice(Year)
  listed_name = f'{condition} {year} {make} {model}'
  body = random.choice(Body)
  mileage = random.randint(2000,100000)
  month = random.choice(Month)
  price = random.randint(price_min,price_max)
  length = random.randint(1000,1500)
  width = random.randint(800,1000)
  height = random.randint(600,1000)
  gd_clearance = random.randint(100,200)
  seats = random.choice(Seats)
  ncap = random.choice(Ncap)
  fuel = random.choice(Fuel)
  engine = random.randint(1,10)
  displacement = random.randint(1000,1500)
  cylinder = random.choice(Cylinder)
  transmission = random.choice(Transmission)
  drive = random.choice(Drive)
  ext_color = random.choice(Ext_color)
  int_color = random.choice(Int_color)
  un_weight = random.randint(1000,2000)
  gross_weight = un_weight + random.randint(50, 100)
  location = random.randint(183773,799382)
  lat = random.uniform(80,127)
  lon = random.uniform(68,97)


  car = [i, listed_name, condition, make, model, body, mileage, month, year, price, length, width, height, 
         gd_clearance, seats, ncap, fuel, engine, displacement, cylinder, transmission, drive, ext_color, 
         int_color, un_weight, gross_weight, location, lat, lon]
  df = pd.DataFrame(np.insert(df.values, len(df.index), values=car, axis=0))

df.columns = columns
df = df.set_index('id')
df.head()

                    Listed Name  Condition  ... Latitude Longitude
id                                          ...
1001      Used 2008 Chevrolet B       Used  ...  120.475   76.8113
1002          Used 2006 Honda C       Used  ...  98.9904   77.9167
1003    Certified 2009 Nissan A  Certified  ...  122.578   90.3579
1004  Used 2007 Maruti Suzuki C       Used  ...   113.58   75.2741
1005     Certified 2022 Honda B  Certified  ...  115.748   88.5225

[5 rows x 28 columns]

In [57]:
df.describe()

               Listed Name Condition  Make  ... Location    Latitude   Longitude
count                  499       499   499  ...      499  499.000000  499.000000
unique                 438         3    11  ...      498  499.000000  499.000000
top     New 2009 Renault A      Used  Tata  ...   296527  112.511624   77.701059
freq                     3       173    53  ...        2    1.000000    1.000000

[4 rows x 28 columns]

In [17]:
df = pd.DataFrame(np.insert(df.values, 0, values=car1, axis=0))
df.columns = columns
df

       id           Listed Name     Make  ... Location Latitude Longitude
0  100098  2019 Hyundai Alcazar  Hyundai  ...   123456  23.9893   92.3453

[1 rows x 28 columns]